pymongo
numpy==1.24.4
pandas==2.1.0
requests==2.32.2
loguru==0.5.3
python-dotenv==1.0.0
kafka-python==2.0.2
openai
nltk
transformers
sentence-transformers
flask==2.3.3
gunicorn==22.0.0
flask-cors
flask-restful
python-docx
boto3
motor
mammoth
qdrant_client==1.9.1
pyvi
einops
elasticsearch==8.15.1    
docx2txt
openpyxl
pymupdf
fasttext
structlog
bs4
elastic-apm[flask]==6.20.0